<app-form [model]="model">
  <form [formGroup]="form">
    <mat-form-field class="input">
      <mat-label>Faculty</mat-label>
      <input matInput formControlName="faculty" />
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Specialty</mat-label>
      <input matInput formControlName="specialty" />
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Number of students</mat-label>
      <input matInput type="number" formControlName="studentCount" />
    </mat-form-field>
  </form>
</app-form>
