<mat-toolbar class="layout-toolbar">
  <button type="button" (click)="drawer.toggle()" mat-icon-button class="icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="spacer"></span>

  <button mat-icon-button class="icon">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="layout-container">
  <mat-sidenav #drawer mode="side" class="example-sidenav">
    <mat-nav-list>
      <nav>
        <ul>
          <li routerLink="/teacher">
            <a mat-list-item><h4>Teacher</h4></a>
          </li>
          <li routerLink="/group">
            <a mat-list-item><h4>Groups</h4></a>
          </li>
          <li routerLink="/workload">
            <a mat-list-item><h4>Workloads</h4></a>
          </li>
          <li routerLink="/subject">
            <a mat-list-item><h4>Subjects</h4></a>
          </li>
        </ul>
      </nav>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="toolbar">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
