<app-form [model]="model" [validated]="validated">
  <form [formGroup]="form">
    <mat-form-field class="input">
      <mat-label>Teacher</mat-label>
      <mat-select formControlName="teacher">
        @for(teacher of teachers() ?? []; track $index){
        <mat-option [value]="teacher._id"> {{ teacher.surname }} {{ teacher.name }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Group</mat-label>
      <mat-select formControlName="group">
        @for(group of groups() ?? []; track $index){
        <mat-option [value]="group._id"> {{ group.faculty }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Subject</mat-label>
      <mat-select formControlName="subject">
        @for(subject of subjects() ?? []; track $index){
        <mat-option [value]="subject._id"> {{ subject.name }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Type</mat-label>
      <mat-select formControlName="type">
        @for(type of types() ?? []; track $index){
        <mat-option [value]="type._id"> {{ type.name }} </mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Time</mat-label>
      <input matInput type="number" formControlName="hours" />
      <span matTextSuffix>hours</span>
    </mat-form-field>
    <mat-form-field class="input">
      <mat-label>Price</mat-label>
      <input matInput type="number" class="price-input" formControlName="price" />
      <span matTextPrefix>$&nbsp;</span>
      <span matTextSuffix>.00</span>
    </mat-form-field>
  </form>
</app-form>
